.Rproj.user/1789D53B/pcs/files-pane.pper
.Rproj.user/1789D53B/pcs/source-pane.pper
.Rproj.user/1789D53B/pcs/windowlayoutstate.pper
.Rproj.user/1789D53B/pcs/workbench-pane.pper
.Rproj.user/1789D53B/rmd-outputs
.Rproj.user/1789D53B/saved_source_markers
.Rproj.user/1789D53B/sources/prop/3109A7F8
.Rproj.user/1789D53B/sources/prop/55B2340B
.Rproj.user/1789D53B/sources/prop/B57F2CE5
.Rproj.user/1789D53B/sources/prop/EF2034AA
.Rproj.user/1789D53B/sources/prop/INDEX
.Rproj.user/1789D53B/sources/session-a2068628/3BC5431F
.Rproj.user/1789D53B/sources/session-a2068628/3BC5431F-contents
.Rproj.user/1789D53B/sources/session-a2068628/96CEEC72-contents
.Rproj.user/1789D53B/sources/session-a2068628/AA701843
.Rproj.user/1789D53B/sources/session-a2068628/AA701843-contents
.Rproj.user/1789D53B/sources/session-a2068628/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
